doctype html
html
    head
        title="Logowanie"
    body
        div
            p Login
                input(type="text" value="")
            p Hasło
                input(type="text" password="")
            button
                a(href="/auth/google") Zaloguj
                