doctype html
html
    head
        title="Logowanie"
    body
        div
            h2 Witaj #{user}
            img(src="https://upload.wikimedia.org/wikipedia/en/8/83/Young_Male_CFA_Kitten_-_Age_2_Months.jpg", alt="little cat")
