doctype html
html
    head
        title="Logowanie"
    body
        div
            p Login
                input(type="text")
            p Hasło
                input(type="text")
            button
                a(href="/auth/google") Zaloguj
                