form, .userList {
    width: 300px;
    font-size: 20px;
    margin: 20px;
}
#searchText {
    margin: 10px 0;
}
.userList div {
    display: flex;
    align-items: center;
}
.userList a {
    text-decoration: none;
    margin: 40px 0;
    padding: 10px;
    color: black;
}